html, body {
  font-family: tahoma, sans-serif;
  font-size: 16px;
}

circle[type='piece'] {
  cursor: pointer;
}

.hide {
  display: none;
}

#diceButton {
  cursor: pointer;
  margin-top: -1rem;
  vertical-align: text-top;
}

#diceButton.ready {
  background-color:#00FF00;
}

#diceButton.busy {
  background-color:#FF0000;
}
